.btn {
    background-color: rgb(55, 160, 86); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 5px 10px; /* Some padding */
    font-size: 13px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }

  .btn:hover {
    background-color: RoyalBlue;
  }

  .h2 {
    text-align: center;
  }

.hack { 
        border: 5px outset red;
        background-color: lightblue;    
        text-align: center;     
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}