.btn {
    background-color: rgb(55, 160, 86); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 5px 10px; /* Some padding */
    font-size: 13px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }

  .btn:hover {
    background-color: RoyalBlue;
  }

  .p {
    font-size: 13px;   
  }

  .h2 {
    text-align: center;
  }

.hack { 
    text-align: center; 
    font-size: xx-large;  
}
