.btn {
    background-color: rgb(55, 160, 86); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 5px 10px; /* Some padding */
    font-size: 13px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }

  .btn:hover {
    background-color: rgb(211, 20, 20);
  }

  .h2 {
    text-align: center;
  }

.hack { 
        border: 5px outset red;
        background-color: lightblue;    
        text-align: center;     
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.h4 {
  font-size: 20px; /* Set a font size */
  text-align: center;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 3px 2px;
}

.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
} 

.fa-github {
  background: #000000;
  color: white;
} 